h2, h3, legend, label {    
    color: #FFF;
}

#header {
    background-color: #FF953D;
}

#header h1 {
    font: italic bold 1em Helvetica, sans-serif;
    color: #B65300;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
}

#header p {
    font: normal bold 0.8em Helvetica, sans-serif;
    color: #B65300;
    padding-top: 0.7em;
    padding-bottom: 0.5em;
    margin: 0;
}

#editHeaderBTN {
    font-size: 0.8em;    
    color: #B65300;
}

#main {    
    background-color: #FF7400; 
    border-bottom: 0.25em solid #FF7400;
    min-height: 96vh;    
}

#fixtures .rInterval {   
    background-color: #FF953D; 
    text-align: center;
    font-size: 14px;
} 

#fixtures .cNumber {
    text-align: center;
} 

#fixtures .thumb {
    color: #B65300;
    width: 1em;
    line-height: 1em;
    padding: 0;
    margin: 0;
    right: 0.5em;
    bottom: 0.5em;
}

#leaderboard{
    background-color: #FF953D;
    font-size: 1.2em;
}

#leaderboard .lb-even { background-color: #FFE5D0; }
#leaderboard .lb-odd { background-color: #F8F9FA; }

.fxTableWrap {    
    margin: 0 0 1em; 
    font-size: 12px;
}

.fxTable {
    border: 1px solid #B65300;
}

.fxCell {
    overflow-x: hidden;
}

.fxTable .btn {
    width: 100%;
    height: calc(3.6em + 4px);
    overflow-y: clip;
    text-overflow: ellipsis;
    line-height: 1.2em;
    padding: 2px;
}

.fxTable .btn.btn-success {
    color: #000;
    background-color: #4F4;
}

.fxTable .btn.btn-danger {
    color: #000;
    background-color: #FA9;
}

.fxTable .btn.btn-warning {
    color: #000;
    background-color: #FF8;
}

.fxTable .btn.btn-light:disabled {
    background-color: transparent;
}

.autocomplete {
    position: relative;
}

.autocompleteList {
  position: absolute;
  border: 1px solid #CCC;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 2rem;
}

.autocompleteList div {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
}

.autocompleteList div:hover {
  background-color: #EEE;
}

.autocomplete-active {
  background-color: #0D6EFD !important;
  color: #FFF;
}

@media screen and (min-width: 768px) {

    #fixtures {
        max-height: calc(100vh - 110px);
        overflow-x: hidden;
        overflow-y: auto;
    } 

    #fixtures .thumb {        
        right: 0.25em;
        bottom: calc(50% - 0.5em);
    }

    #headerINPUT {
        max-width: 90%;
    }

}